.p1{
	
	height:50px;
	font-size:36px;
	font-family:PingFangSC-Semibold;
	font-weight:600;
	color:rgba(0,0,0,1);
	line-height:50px;
	letter-spacing:1px;
	padding-top: 59px;
	padding-right: 492px;
  padding-bottom: 20px;
  padding-left: 32px;
  margin: 0px;
}

#container{
  background:rgba(244,245,247,1);
	margin: 0 auto;
	padding: 0;
} 
#header{
	width:750px;
	height:129px;
	background:rgba(244,245,247,1);
}
#mainbody{
	
	background:rgba(244,245,247,1);
	margin-top: 0px;
}
.pe{

	height:160px;
	background:rgba(151,160,175,1);
	border-radius:8px;
	margin-left: 24px;
	margin-top: 24px;
	margin-right: 24px;
}
.pe1{
	height:32px;
	padding-top: 64px;
	padding-left: 24px;
}
.style{
	width:192px;
	height:48px;
	font-size:32px;
	font-family:PingFangSC-Medium;
	font-weight:500;
	color:rgba(9,30,66,1);
	line-height:48px;
	padding-top: 56px;
	padding-left: 8px;
}
.style1{
	height:40px;
	font-size:24px;
	font-family:PingFangSC-Regular;
	font-weight:400;
	color:rgba(122,134,154,1);
	line-height:40px;
	padding-top: 60px;
	padding-right: 0px;
	float: right;
}
.pe2{
	/* width:702px; */
	height:224px;
	border-radius:8px;
	border:1px solid rgba(223,225,230,1);
	margin-top: 24px;
	margin-left: 24px;
	margin-right: 24px;
	position:relative;
}
.pe2 span{
	background: url(../img/Icon／48／fd.png) no-repeat;
	display: block;
   position: absolute;
   width: 48px;
   height: 48px;
   right: 16px;
   bottom: 16px;
}
.pe3{
	width:24px;
	height:24px;
	margin-top: 68px;
	margin-right: 24px;
	float: right;
}
.body1{
	/* width:702px; */
	height:296px;
	background:rgba(255,255,255,1);
	border-radius:8px;
	margin-left: 24px;
	margin-top: 24px;
	margin-right: 24px;
}
.photo{
	float: left; 
	padding-top: 20px;
	padding-left: 16px;
	color:F4F5F7;
}
.content{
	float: right; 
	margin-left: 10px;
}
.content p{
	
font-size:28px;
font-family:PingFangSC-Medium;
font-weight:500;
color:rgba(9,30,66,1);
line-height:44px;
padding: 20px;
}
