.cartheader{
	background: linear-gradient(to right,#EE9900,#EF5602);
	height: 60px;
	width: 100%;
	color: white;
	position: fixed;
	top: 0;
	z-index: 5;
}
.head-content{
	padding: 20px 10px;
	display: flex;
	width: 100%;
	justify-content: space-between;
}