.listby{
	background: #EEEEEE;
	padding: 50px 10px;
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.singlelist{
	background: white;
	margin-top: 20px;
	width: 48%;
	border-radius: 10px;
}
.singlelist img{
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}
.singlelist p{
	margin: 10px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.money{
	color: rgba(255,88,77,1);
}