
		<div class="head">
			<span style="float: right;color: #a8a8aa;line-height: 40px;"> <广告> </span>
		</div>
		<div class="topnav">
			<div class="nav-content">
				<ul class="nav-list" >
					<li class="listItem">
						<a href="index.ejs" class="alink iconfont icon-sousuo"></a>
					</li>
					<li class="listItem">
							<a class="alink " href="mac.ejs">
								<span >Mac</span>
							</a>
					</li>
					<li class="listItem">
							<a class="alink" href="iPad.ejs">
								<span >iPad</span>
							</a>
					</li>
					<li class="listItem">
							<a class="alink" href="iPhone.ejs">
								<span >iPhone</span>
							</a>
					</li>
					<li class="listItem">
							<a class="alink" href="Watch.ejs">
								<span>Watch</span>
							</a>
					</li>
					<li class="listItem">
							<a class="alink" href="Music.ejs">
								<span class="active">Music</span>
							</a>
					</li>
					<li class="listItem">
							<a class="alink" href="support.ejs">
								<span>技术支持</span>
							</a>
					</li>
					<li class="listItem">
							<a class="alink iconfont icon-sousuo" href="">
								<img src="img/search.PNG" />
							</a>
					</li>
					<li class="listItem">
							<a class="alink" href="">
								<img src="img/shopping-bag.PNG" style="margin-top: 3px;" />
							</a>
							
					</li>
				</ul>
			</div>
		</div>