.ribbon-box {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9996;
    overflow: hidden;
	background: #0070C9;
	display: none;
}
.ribbon {
    overflow: hidden;
    width: 100%;
    top: 0px;
    z-index: 10;
    -webkit-animation: reveal-ribbon 1.2s;
    animation: reveal-ribbon 1.2s;
    will-change: transform;
    color: #fff;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
	 text-align: center;
}
.ribbon a{
	color: white;
	margin: 0;
}
.text-block {
    padding: 94px 0 107px;
}
.watchcontent{
	text-align: left;
    padding: 60px 0;
    max-width: 1350px;
    background: #fff;
    margin: 0 auto 2.8em;
	display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.adjust{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
 .image-block {
    width: 50%;
	display: inline-block;
	margin-left: 50px;
	text-align: left;
}
.pane-content {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
 .pane-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background: #fafafa;
}
