*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

	          
body{
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	font-family:PingFangSC-Medium;
	background:rgba(244,245,247,1);
	align-items:center;
	line-height:40px;
	
}

.wrapper{
	margin: 0 auto;
	padding: 0;
	border: 0;
	text-align: left;
	background:rgba(244,245,247,1);	
}

.header{
	height:424px;
	margin: 0;
  padding: 0;
  border: 0;
	background:rgba(255,255,255,1);
}


a:link{
	background: transparent;
	text-decoration:none;
}
a:visited{
	background: transparent;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
	left: -700px;
  width:750px;
  height:1334px;
  background:rgba(0,0,0,1);
  opacity:0.64;
  border:1px solid rgba(151,151,151,1);
}
.dropdown:active .dropdown-content {
  display: block;
}
.headerth{
	font-size:20px;
	font-family:PingFangSC-Regular;
	font-weight:400;
	color:rgba(255,88,77,1);
	line-height:20px;
	text-align:center; 
  margin: 16px 35px;
	display: flex;
	justify-content:space-between
}
 .headerth p{
	display: inline;
	padding: 24px 24px 24px 12px;
 	vertical-align:middle;
 
} 

.headersec {
           
			height: 360px;
      background: url(../img/Rectangle@2x.png) no-repeat top,
                  url(../img/Other／shadow／right.png) no-repeat  bottom right,
                  url(../img/Other／shadow／left.png) no-repeat  bottom left; 
        background-size: 100% 71.6%;
				
				}
      
.cntpe{
	width: 91.4%;
  height: 336px;
  position: relative;
  top: 24px; left: 0px;
  margin: auto;
	background:rgba(216,216,216,1);
	border-radius:8px;
}
.cntpe img{
	 width: 100%;
	 height: 336px;
}
.cntpetxt{
	position: absolute;
	top: 139px; left: 40%;
	font-family:PingFangSC-Light;
 font-weight:300;
 text-align: center;
}
.main1{
	margin: 48px 24px 0px 24px;
}
.main1bd{
	height:432px;

	background:rgba(255,255,255,1);
}
.main1bd,.main2bd,.main3bd,.main4bd{
	margin-top: 16px;
border-radius:8px;
}
.main1bdfirst{
	align-items:center;
	height: 104px;
	padding: 32px 196px 32px 192px;
}
.main1bdfirst span{
	width:3px;
height:12px;
color:rgba(255,88,77,1);
}
.main1bdfirst .time{
	width:32px;
 height:32px;
 background:rgba(255,88,77,1);
 border-radius:3px;
 color: white;
}
.main1bdsec{
	padding: 0px 24px;
	border-radius:8px;
	display: flex;
	justify-content:space-between;
	
}
.main1bdsecpe{
  border: none;
	width: 204px ;
	text-align: center;
	position: relative;
}
.main1bdsecpe img{
	width: 204px;
	height: 204px;
	background: rgb(244,245,247);
	border-radius:8px;

}
.main2{
	margin: 56px 0px 0px ;
	clear: both;
}
.main2bd{
	height:698px;
	overflow: hidden;
}

.main2bdfirst{
	height: 394px;
	margin: -64px 0px 0px 0px;
	width: 100%;
	border-radius:8px 0px 0px 8px;
  display: inline-flex;
	overflow-y: hidden;
	overflow-x: scroll;
}
.main2bdfirst .kapian{
	height: 394px;
	width: 256px;
	border:1px solid #DFE1E6;
	position: relative;
	background:rgba(223,225,230,1);
}

.kapian .kapiantext{ 
	width:256px;
  height:138px;
  background:rgba(255,255,255,1);
}
.main3{
	margin: 60px 0px 0px 24px;
	
}
.main3bd{
		height:420px;
		display: flex;
		justify-content:space-between;
		overflow: hidden;
}
.main3bd .kapian1{
 background:rgba(255,255,255,1);
 position: relative;
 width: 304px;
}
.main4{
	margin: 56px 24px 0px;
  height: 800px;
}
.main4bd{
	height:296px;
  background:rgba(255,255,255,1);
	padding: 20px 16px;
	
}
/* 大标题 */
.p1{
	font-size:32px;
	font-weight:500;
	color:rgba(9,30,66,1);
	line-height:48px;
	display: inline;
}
/* 副标题 */
.p2{
	font-size:24px;
	font-family:PingFangSC-Regular;
	font-weight:400;
	color:rgba(122,134,154,1);
	line-height:40px;
  display: inline;
 
}
.p3{
 font-size:24px;
 font-weight:500;
 color:rgba(9,30,66,1);
 line-height:40px;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
}
.p4{
	display: inline;
	font-size:32px;
 font-family:Avenir-Black;
 font-weight:900;
 color:rgba(255,88,77,1);
 line-height:48px;
 vertical-align:middle;
}
.p5{
	display: inline;
	font-size:24px;
font-family:Avenir-Book;
font-weight:normal;
color:rgba(179,186,197,1);
line-height:40px;
text-decoration: line-through;
vertical-align:middle;
}
.p6{

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display:-webkit-box;
	 padding:12px 0px 0px 16px;
	 width: 240px;
	 height: 76px;
  font-size:24px;
  font-weight:bold;
  color:rgba(9,30,66,1);
   line-height:32px;
	 
}
.p7{
font-size:24px;
font-family:Avenir-Black;
font-weight:900;
color:rgba(255,88,77,1);
padding-left: 16px;
}
.p8{
	width:390px;
 font-size:28px;
 font-weight:bold;
 color:rgba(9,30,66,1);
 line-height:44px;
}
.p9{
	font-size:20px;
font-family:PingFangSC-Regular;
font-weight:400;
color:rgba(255,88,77,1);
line-height:20px;
display: inline;
margin-left: 8px;
text-align: center;
height: 34px;
width: 156px;
}
.p10{
vertical-align:middle;
font-size:48px;
font-family:Avenir-Heavy;
font-weight:800;
color:rgba(255,88,77,1);
line-height:48px;
display: inline;
}
.fanquan1,.fanquan2,.fanquan3{

background:linear-gradient(135deg,rgba(255,130,102,1) 0%,rgba(255,92,109,1) 100%);
border-radius:0px 16px 0px 0px;
position: absolute;
font-size:20px;
line-height:20px;
font-family:PingFangSC-Regular;
font-weight:400;
color:rgba(255,255,255,1);
text-align: center;
padding: 6px 12px;
}
.fanquan1{
	top:172px;
}
.fanquan2{
	top: 224px;
}
.fanquan3{
	top:272px;
}
.photo{
	float: left; 
	width: 256px;
	color:F4F5F7;
}
.content{
	float: left; 
	height: 256px;
	margin-left: 20px;
	align-items:center;
	position:relative;
}
.content .bg{
 background:linear-gradient(135deg,rgba(255,132,87,1) 0%,rgba(255,82,93,1) 100%);
 border-radius:16px;
 font-size:20px;
 font-family:PingFangSC-Regular;
 font-weight:400;
 color:rgba(255,255,255,1);
 text-align: center;
 padding: 6px 12px;
 vertical-align: middle;
 display: inline;
}
